.hero {
  div:first-of-type {
    margin-bottom: 0.5em;
  }
  div:last-of-type {
    display: flex;
    flex-direction: column;
    width: min(80%, 400px);
    label {
      margin-bottom: 0.5em;
    }
  }
}
